.list {
  width: 100%;
  margin-top: 10px;

  .listTitle {
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 50px;
  }

  .wrapper {
    .container {
      display: flex;
      margin-left: 50px;
      width: max-content;
    }
  }
}
